<div class="container">
    <form id="loginForm" action="">
        <label for="uname"> <b>Username:</b> </label>
        <input type="text" placeholder="Email/Username" name="uname">
        
        <label for="pwd"> <b>Password:</b> </label>
        <input type="password" placeholder="Password" name="pwd">
        
        <br/>
        <button class="btn btn-dark" type="submit">Login</button>
        <br/>
        <label for="">
            <input type="checkbox" name="Btn_rememberMe">Remember me
        </label>
    </form>
</div>