<div class="container">
    <form id="loginForm">
        <label for="uname"> <b>Username:</b> </label>
        <input #email type="text" placeholder="Email/Username" name="uname">
        
        <label for="pwd"> <b>Password:</b> </label>
        <input #pwd type="password" placeholder="Password" name="pwd">
        
        <br/>
        <!-- TODO: Add authentication functionality to the buttons -->
        <button id="login" (click)="loginClicked(email.value, pwd.value)" class="btn btn-dark">Login</button>
        <button id="anonymous" routerLink="purchase" class="btn btn-dark" type="submit">Purchase</button>
        <br/>
        <app-error *ngIf = "loginError" [errorMessage]="this.errorMessage"></app-error>
        <label for="">
            <input type="checkbox" name="Btn_rememberMe"> Remember me
        </label>
    </form>
</div>