<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="row">
        <div class="title col-sm-6">
            
            <app-profile-details></app-profile-details>
        </div>
        <div class="history col-sm-6">
            <h1 class="title">Purchase History</h1>
            <!-- Specify the displayType class from the item-list.component.scss file here -->
            <app-item-list [displayType]="'historyItems'"></app-item-list>
        </div>
    </div>

    <div class="row">
        <app-item></app-item>
    </div>
</div>

<app-footer></app-footer>