.container {
    margin-top: 20px;

    #purchaseBtn{
        font-size: 22px;
        width: 75%;
    }
    
    #personDetails{
        input{
            max-width: 75%;
        }
    }

    .scrollDiv {
        margin-top: 45px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 800px;
    }
}