<app-nav-bar></app-nav-bar>

<div class="userDetails">
    <form id="personDetails">
        <div class="form-group">
            <label for="formGroupExampleInput">Full Name:</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ola Nordmann">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Address:</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Lakkegata 53 0187 oslo">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Phone Number:</label>
            <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="99 99 99 99">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Email Address:</label>
            <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="something@gmail.com">
        </div>
    </form>

    <div class="itemBasket">
        <p>Item basket goes here</p>
        <p>Total cost at the bottom</p>
    </div>
</div>


<div class="paymentDetails">
    <p>Stripe thingy??</p>
</div>

<div class="submit">
    <button>Purchase</button>
</div>

<app-footer></app-footer>