<div class="topnav">
    <a class="active" href="purchase">Company name</a>
    <div id="navButtons">
        <a href="purchase">Shopping Cart</a>
        <a href="profile">Profile</a>
        <a href="">Sign in / out</a>
    </div>
</div>

<div class="userDetails">
    <form>
        <p>Full Name: <input type="text" name="fullName" placeholder="Full Name"><br></p>
        <p>Address: <input type="text" name="address" placeholder="Address"><br></p>
        <p>Phone: <input type="text" name="phone" placeholder="Phone Number"><br></p>
        <p>E-mail: <input type="text" name="email" placeholder="Email Address"><br></p>
    </form>

    <div class="itemBasket">
        <p>Item basket goes here</p>
        <p>Total cost at the bottom</p>
    </div>
</div>


<div class="paymentDetails">
    <p>Stripe thingy??</p>
</div>

<div class="submit">
    <button>Purchase</button>
</div>