<app-nav-bar></app-nav-bar>

<div class="userDetails">
    <form>
        <p>Full Name: <input type="text" name="fullName" placeholder="Full Name"><br></p>
        <p>Address: <input type="text" name="address" placeholder="Address"><br></p>
        <p>Phone: <input type="text" name="phone" placeholder="Phone Number"><br></p>
        <p>E-mail: <input type="text" name="email" placeholder="Email Address"><br></p>
    </form>

    <div class="itemBasket">
        <p>Item basket goes here</p>
        <p>Total cost at the bottom</p>
    </div>
</div>


<div class="paymentDetails">
    <p>Stripe thingy??</p>
</div>

<div class="submit">
    <button>Purchase</button>
</div>

<app-footer></app-footer>