#phoneNumberCode {
    width: 2.5em;
}
#phoneInput {
    width: 320px;
}

.submit{
    margin-top: 10px;
}

input{
    border: none;
    padding: 5px 5px;
    border-radius: 3px;
    width: 360px;
}

p {
    color: red;
    font-size: 13px;
}

.required-fields{
    font-size: 12px;
}

.required{
    color: red;
}