<div class="col-sm-6">
    <!-- Linking the form group up against our TS file-->
    <form [formGroup]="personDetails">
        <div class="form-group">
            <!-- Creating the label and input for the form-->
            <label for="fullName">Full Name: </label><br>
            <input name="fullName" formControlName="fullName" type="text" placeholder="Ola Nordmann" required>

            <!-- Error messages if, for example, the customer didn't fill in all of the values. -->
            <div *ngIf="getFullName().invalid && (getFullName().dirty || getFullName().touched)">
                <p *ngIf="getFullName().errors.required">Name is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="addressLineOne">Address Line 1: </label><br>
            <input name="addressLineOne" formControlName="addressLineOne" type="text" placeholder="Lakkegata 53"
                required>

            <div *ngIf="getAddressLineOne().invalid && (getAddressLineOne().dirty || getAddressLineOne().touched)">
                <p *ngIf="getAddressLineOne().errors.required">Address is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="addressLineTwo">Address Line 2: </label><br>
            <input name="addressLineTwo" formControlName="addressLineTwo" type="text" placeholder="H0501">
        </div>

        <div class="form-group">
            <label for="county">County: </label><br>
            <input name="county" formControlName="county" type="text" placeholder="Oslo" required>

            <div *ngIf="getCounty().invalid && (getCounty().dirty || getCounty().touched)">
                <p *ngIf="getCounty().errors.required">County is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="postNumber">Post Number: </label><br>
            <input name="postNumber" formControlName="postNumber" type="text" placeholder="0187" required
                pattern="\d{4}">

            <div *ngIf="getPostNumber().invalid && (getPostNumber().dirty || getPostNumber().touched)">
                <p *ngIf="getPostNumber().errors.required">Post number is required.</p>
                <p *ngIf="!getPostNumber().errors.requiredPattern">Post number requires 4 digits.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="city">City: </label><br>
            <input name="city" formControlName="city" type="text" placeholder="Oslo" required>

            <div *ngIf="getCity().invalid && (getCity().dirty || getCity().touched)">
                <p *ngIf="getCity().errors.required">City is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="phoneNumber">Phone Number: </label><br>
            <!-- TODO: Move the phoneNumberCode element in front of phoneNumber, but much smaller in width. -->
            <input name="phoneNumberCode" type="text" value="+47" disabled>
            <input name="phoneNumber" formControlName="phoneNumber" type="text" placeholder="99 99 99 99" required
                pattern="(?:\d{2} ?){4}|\d{3} ?\d{2} ?\d{3}">

            <div *ngIf="getPhoneNumber().invalid && (getPhoneNumber().dirty || getPhoneNumber().touched)">
                <p *ngIf="getPhoneNumber().errors.required">Phone number is required.</p>
                <p *ngIf="!getPhoneNumber().errors.requiredPattern">Your phone number has to consist of 8 digits.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email: </label><br>
            <input name="email" formControlName="email" type="email" placeholder="something@gmail.com" required email>

            <div *ngIf="getEmail().invalid && (getEmail().dirty || getEmail().touched)">
                <p *ngIf="getEmail().errors.required">Email is required.</p>
                <p *ngIf="getEmail().errors.email">Email needs to be formated like: "email@domain.com".</p>
            </div>
        </div>

        <div class="paymentDetails">
            <p>THIS IS WHERE THE STRIPE INTEGRATION WILL HAPPEN (?)</p>
        </div>

        <div class="submit">
            <!-- Button is disabled until all of the required feels has been filled in. -->
            <button (click)="onPurchaseClicked()" [disabled]="personDetails.invalid"
                class="btn btn-success btn-block">Purchase</button>
        </div>
    </form>
</div>